@model IssueTracker.ViewModels.IssueCreateViewModel
@using IssueTracker.Entities

@{
    ViewBag.Title = IssueStrings.TitleCreate;
}

<h2>@ViewBag.Title</h2>

<div ng-controller="AttachementController">
    @*<input type="hidden" value="@ViewBag.ReporterId" id="ReporterId" />*@
    <div class="col-md-12" style="padding-left:20px">
        <form>
            <div class="form-group row">
                <label for="inputEmail3" class="col-sm-2 col-form-label">Project</label>
                <div class="col-sm-10">
                    <select ng-model="issue.ProjectId" class="form-control">
                        <option ng-repeat="x in projects" value="{{x.Id}}">{{x.Title}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="inputEmail3" class="col-sm-2 col-form-label">Type</label>
                <div class="col-sm-10">
                    <select ng-model="issue.Type" class="form-control">
                        <option ng-repeat="x in types" value="{{x.Id}}">{{x.Name}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="inputPassword3" class="col-sm-2 col-form-label">Assignee</label>
                <div class="col-sm-10">
                    <select ng-model="issue.AssigneeId" class="form-control">
                        <option ng-repeat="x in users" value="{{x.Id}}">{{x.Email}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="inputPassword3" class="col-sm-2 col-form-label">Summary</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" ng-model="issue.Name" />
                </div>
            </div>
            <div class="form-group row">
                <label for="inputPassword3" class="col-sm-2 col-form-label">Issue description</label>
                <div class="col-sm-10">
                    <trix-editor angular-trix ng-model="issue.Description"></trix-editor>
                </div>
            </div>
            <div class="form-group row">

                <label for="inputPassword3" class="col-sm-2 col-form-label">Attachment</label>
                <div class="col-sm-10">
                    <input type="file" id="file" name="file" multiple onchange="angular.element(this).scope().setFile(this)" accept="image/*" class="btn btn-warning" />
                    </div>
            </div>

            <div class="form-group row">
                <label for="inputPassword3" class="col-sm-2 col-form-label">Attachment Details</label>
                <div class="col-sm-10">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>File Name</th>
                                <th>File Type</th>
                                <th>File Size</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="file in fileList">

                                <td>{{file.file.name}}</td>
                                <td>{{file.file.type}}</td>
                                <td>{{file.file.size}}</td>
                                <td>
                                    <div id="{{'P'+$index}}">
                                        <button><b>X</b></button>
                                    </div>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>    
            </div>
            
            <div class="col-md-12">
                <button ng-click="Submit()" class="btn pull-right btn-primary">Create Issue</button>
            </div>
            </form>

            
</div>
</div>

<div>
    @Html.ActionLink(SharedStrings.BackToList, "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/ckeditor")
    @Scripts.Render("~/bundles/ckeditor-replace-desc")
    @Scripts.Render("~/bundles/issues-js")
}
<script type="text/javascript">
    issue.controller("AttachementController", function ($scope, $http, issueService, sharedService) {
        $scope.fileList = [];
        $scope.projects = [];
        $scope.types = [];
        $scope.users = [];
        $scope.issue = {};

        $scope.curFile;
        $scope.ImageProperty = {
            file: ''
        }
        sharedService.getListOfProjects().then(function (response) {
            $scope.projects = response;
            $scope.projects.unshift('-Select-');
        },
       function (error) {
       });

        sharedService.getListOfUsers().then(function (response) {
            $scope.users = response;
            $scope.users.unshift('-Select-');
        },
       function (error) {
       });

        $scope.setFile = function (element) {
            $scope.fileList = [];
            // get the files
            var files = element.files;
            for (var i = 0; i < files.length; i++) {
                $scope.ImageProperty.file = files[i];
                $scope.fileList.push($scope.ImageProperty);
                $scope.ImageProperty = {};
                $scope.$apply();
            }
        }

        sharedService.getIssueTypes().then(function (response) {
            $scope.types = response;
            $scope.types.unshift({ Id: 0, Name: '-Select-' });
            $scope.issue.Type = $scope.types[0];
        },
       function (error) {
       });

        $scope.Submit = function (data) {
            //$scope.issue.ReporterId = $("#ReporterId").val();
            //$scope.issue.Active = true;
            //$scope.issue.Status = "Open";
            //console.log("issue.Description" + issue.Description);
            //jQuery.post("/Create", $scope.issue, {
            //    headers: {
            //        'Content-Type': 'application/json',
            //        "Access-Control-Allow-Origin": "*",
            //        "Access-Control-Allow-Credentials": "true",
            //        "Access-Control-Allow-Methods": "GET,PUT,POST,DELETE"
            //    }
            //}).success(function (response) {
            //    window.location.href = "/Issues";
            //}).error(function (data, status, headers, config) { // <--- catch instead error
            //});
            jQuery.ajax({
                type: 'POST',
                url: '../Issues/Create',
                data: { viewModel: $scope.issue },
                dataType: "html",
                success: function (response) {
                    console.log($scope.issue);
                    alert(window.location.href);
                    window.location.href = "../Issues/Index";
                },
                error: function (data, status) {
                    alert(data);
                    alert(status);
                }
            });

        };
    });
</script>